<form action="/virtuellerkleiderschrank/v1/web/clothes" id="kleidungsstueckForm" class="{#if bearbeiten}update{#else}new{/if}" method="post">
<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="nameForm" aria-describedby="nameHilfe" {#if bearbeiten}value="{kleidungsstueck.name}" disabled{/if}>
    {#if !bearbeiten}<div id="nameHilfe" class="form-text">Gib deinem Kleidungsstueck einen eigenen Namen</div>{/if}
</div>
<div class="mb-3">
    <label for="inputGroesse" class="form-label">Größe</label>
    <input name="size" type="text" class="form-control" id="size" aria-describedby="groesseHilfe" {#if bearbeiten}value="{kleidungsstueck.groesse}" disabled{/if}>
    {#if !bearbeiten}<div id="groesseHilfe" class="form-text">Du kannst alle moeglichen Groessen eingeben</div>{/if}
</div>
<div class="mb-3">
    <label class="form-label">Typ</label>
    <select {#if bearbeiten}disabled{/if} name="type" class="form-select" id="type">
    <option selected>Wähle den Kleidungstyp</option>
    {#for typ in TypList:typen}
        <option {#if bearbeiten}{#if kleidungsstueck.typ == typ}selected{/if}{/if} value="{typ}">{typ}</option>
    {/for}
    </select>
</div>
<div class="mb-3">
    <label class="form-label">Farbe</label>
    <select {#if bearbeiten}disabled{/if} name="color" class="form-select" id="color">
    <option>Wähle die Hauptfarbe</option>
    {#for farbe in FarbList:farben}
        <option {#if bearbeiten}{#if kleidungsstueck.farbe == farbe}selected{/if}{/if} value="{farbe}">{farbe}</option>
    {/for}
    </select>
</div>
{#if bearbeiten} 
{#include kategorien.html kategorien=kleidungsstueck.kategorien} {/include}
{/if}
<div class="m-t-3">
<hr>
<button id="submitButton" type="submit" class="btn btn-primary {#if bearbeiten}bearbeiten-hidden{/if}">{#if bearbeiten}Änderungen speichern{#else}Kleidungsstueck erstellen{/if}</button>

</div>
</form>
{#if bearbeiten} <button id="bearbeitenButton" class="btn btn-primary" onclick="">Kleidungsstueck bearbeiten</button>{/if}


<script
			  src="https://code.jquery.com/jquery-3.6.3.min.js"
			  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
			  crossorigin="anonymous"></script>
<script>

var bearbeitenHiddenElements = document.getElementsByClassName("bearbeiten-hidden");

Array.prototype.forEach.call(bearbeitenHiddenElements, function(item){
    item.setAttribute("hidden", "");
    });

let bearbeitenButton = document.getElementById("bearbeitenButton");
let kleidungsstueckForm = document.getElementById("kleidungsstueckForm");
let nameElement = document.getElementById("nameForm");
let sizeElement = document.getElementById("size");
let colorElement = document.getElementById("color");
//colorElement.options[colorElement.selectedIndex].text;
let typeElement = document.getElementById("type");

if(bearbeitenButton) {
bearbeitenButton.addEventListener("click", (event) => {

Array.prototype.forEach.call(bearbeitenHiddenElements, function(item){
    item.removeAttribute("hidden");
    });


    bearbeitenButton.setAttribute("hidden", "");
    document.getElementById("submitButton").removeAttribute("hidden");
    nameElement.removeAttribute("disabled");
    sizeElement.removeAttribute("disabled");
    colorElement.removeAttribute("disabled");
    typeElement.removeAttribute("disabled");
});
}

function createJsonString() {
    let jsonString = '{"name":"' + nameElement.value +'", "groesse":"' + sizeElement.value 
        + '", "farbe":"' + colorElement.options[colorElement.selectedIndex].text + '", "typ":"' + typeElement.options[typeElement.selectedIndex].text + '", "kategorien":[';
    var kategorienLi = document.getElementsByClassName("kategorie-item")
    let ersteKategorie = true;
    console.log(kategorienLi)

    Array.prototype.forEach.call(kategorienLi, function(kategorie){
        if(ersteKategorie === false) {
            jsonString = jsonString + ',';
        }else {
            ersteKategorie = false;
        }
        jsonString = jsonString + '"' + kategorie.innerHTML + '"';
    });
    jsonString = jsonString + "]}"
    console.log("jsonString: ", jsonString);
    return jsonString;
}

kleidungsstueckForm.addEventListener("keypress", e => {
    if(e.keyCode == 13) {
        e.preventDefault();
    }
    }); 



kleidungsstueckForm.addEventListener("submit", (event) => {
    event.preventDefault();
    if(kleidungsstueckForm.className === "update") {
        console.log("Update kleidungsstueck");
        
        $.ajax({    
                type: "PUT",
                contentType: "application/json",
                url: window.location.pathname,
                data: createJsonString(),
                timeout: 3000,
                success:function(response){
                    window.location.reload();           
                },
                error: function(){
                    console.log("error!");
                }
            });
        } else {
            kleidungsstueckForm.submit();
        }
})
</script>