<form action="/virtuellerkleiderschrank/v1/web/outfits" id="outfitForm" class="{#if bearbeiten}update{#else}new{/if}" method="post">
<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="nameForm" aria-describedby="nameHilfe" {#if bearbeiten}value="{outfit.name}"disabled{/if} >
    {#if !bearbeiten}<div id="nameHilfe" class="form-text">Wie soll dein Outfit heißen?</div>{/if}
</div>
{#if bearbeiten} 
{#include kategorien.html kategorien=outfit.kategorien} {/include}
<div class="row">
    <div class="col">
    <h5 class="title">Kleidungsstuecke: </h5>
    </div>
    <div class="col-1">
    <button type="button" class="btn btn-outline-primary {#if bearbeiten}bearbeiten-hidden{/if}" data-bs-toggle="modal" data-bs-target="#addKleidungssteuckZuOutfitModal"> + </button>
    {#include Modals/kleidungsstueckZuOutfitHinzufuegenModal.html}{/include}
    </div>
</div>
			<div class="table reposive">
				<table class="table table-bordered border-dark" id="tableKleidungsstuecke">
					<thead>
						<tr>
							<th scope="col-1">Name des Kleidungssuecks</th>
							<th class="{#if bearbeiten}bearbeiten-hidden{/if}" scope="col-sm-1">Aktionen</th>
						</tr>
					</thead>
					<tbody id="table-body">
						{#for kleidungsstueck in infos}
						<tr class="rowKleidungsstueck" id="rowKleidungsstueck{kleidungsstueck.kleidungsId}">
							<td class="kleidungsstueck-item" id="{kleidungsstueck.kleidungsId}"><a href="/virtuellerkleiderschrank/v1/web/clothes/{kleidungsstueck.kleidungsId}"
									class="list-group-item list-group-item-action" aria-current="true">
									{kleidungsstueck.name}
								</a>
                            </td>
							<td class="{#if bearbeiten}bearbeiten-hidden{/if}">
								<button type="button" class="btn btn-danger" id = "btn{kleidungsstueck.kleidungsId}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-trash3" viewBox="0 0 16 16">
										<path
											d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
									</svg>
								</button>
							</td>
						</tr>
						{/for}
					</tbody>
				</table>
			</div>
{/if}
<hr>
<button  id="submitButton" type="submit" class="btn btn-primary {#if bearbeiten}bearbeiten-hidden{/if}">{#if bearbeiten}Änderungen speichern{#else}Outfit erstellen{/if}</button>
</form>
{#if bearbeiten}<button id="bearbeitenButton" class="btn btn-primary" onclick="">Outfit bearbeiten</button>{/if}

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

<script>
var bearbeitenHiddenElements = document.getElementsByClassName("bearbeiten-hidden");

Array.prototype.forEach.call(bearbeitenHiddenElements, function(item){
    item.setAttribute("hidden", "");
    });

let bearbeitenButton = document.getElementById("bearbeitenButton");
let submitButton = document.getElementById("submitButton");

let outfitForm = document.getElementById("outfitForm");
let nameElement = document.getElementById("nameForm");

if(bearbeitenButton) {
bearbeitenButton.addEventListener("click", () => {

Array.prototype.forEach.call(bearbeitenHiddenElements, function(item){
    item.removeAttribute("hidden", "");
    });

    bearbeitenButton.setAttribute("hidden", "");
    nameElement.removeAttribute("disabled");
});
}

let kleidungsstueckList = document.getElementById("kleidungsstueckList");
kleidungsstueckList.addEventListener("click", kleidungsstueck => {
    //TODO Umsetzung fehlt
    console.log("neues Kleidungsstueck zu Outfit hinzufuegen");
    console.log("Kleidungsstuek", kleidungsstueck.originalTarget);
    var neueReihe = document.getElementById("table-body");
    let tr = '<tr class="rowKleidungsstueck"><td class="kleidungsstueck-item" id="' + kleidungsstueck.originalTarget.id + '"><a href="/virtuellerkleiderschrank/v1/web/clothes/' + kleidungsstueck.originalTarget.id + '"'
									+ ' class="list-group-item list-group-item-action" aria-current="true">' + kleidungsstueck.originalTarget.innerHTML + '</a></td><td ' {#if bearbeiten} + 'class="bearbeiten-hidden"'{/if} + '>'
                                    + '<button type="button" class="btn btn-danger" id = "btn' + kleidungsstueck.originalTarget.id + '"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" /></svg></button>';
    console.log(tr);
    neueReihe.insertAdjacentHTML('beforeend', tr);
});

function createJsonString() {
    let jsonString = '{"name":"' + nameElement.value +'", "kategorien":[';
        var kategorienLi = document.getElementsByClassName("kategorie-item");
        let ersteKategorie = true;
        console.log(kategorienLi)

        Array.prototype.forEach.call(kategorienLi, function(kategorie){
            if(ersteKategorie === false) {
                jsonString = jsonString + ',';
            }else {
                ersteKategorie = false;
            }
            jsonString = jsonString + '"' + kategorie.innerHTML + '"';
        });
        jsonString = jsonString + '], "kleidungsstuecke":[';

        var kleidungsstueckeTd = document.getElementsByClassName("kleidungsstueck-item");
        let erstesKleidungsstueck = true;

        Array.prototype.forEach.call(kleidungsstueckeTd, function(kleidungsstueck){
            if(erstesKleidungsstueck === false) {
                jsonString = jsonString + ',';
            }else {
                erstesKleidungsstueck = false;
            }
            jsonString = jsonString + kleidungsstueck.id;
        });
        
        jsonString = jsonString + ']}';

        console.log("jsonString: ", jsonString);
        return jsonString;
}

outfitForm.addEventListener("submit", (event) => {
    event.preventDefault();
    if(outfitForm.className === "update") {
        $.ajax({    
            type: "PUT",
            contentType: "application/json",
            url: window.location.pathname,
            data: createJsonString(),
            timeout: 3000,
            success:function(response){
                console.log(response);              
            },
            error: function(){
                console.log("error!");
            }
        });
    } else {
        outfitForm.submit();
    }
});
const table = document.getElementById('tableKleidungsstuecke');

//Delete Kleidungsstueck von Outfit
table.addEventListener('click', (event) => {
    console.log(event);
    var element = event.target;

    for(let index = 0; index < 3; index++) {
        if(element.nodeName !== 'BUTTON') {
            element = element.parentElement;
        } else {
            let id = element.id.toString().replace('btn', '');
            let rowKleidungsstueck = document.getElementById("rowKleidungsstueck" + id);
            rowKleidungsstueck.remove();
            return;
        }
    }
    });
</script>