<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOutfitModal">
    Neues Outfit erstellen
</button>
  
<div class="modal modal-fade" id="addOutfitModal" tabindex="-1" aria-labelledby="addOutfitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Neues Outfit erstellen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-left">
                {#include Forms/outfitForm.html bearbeiten=false} {/include}
            </div>
        </div>
    </div>
</div>