<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addKleidungsstueckModal">
    Neues Kleidungsstueck erstellen
</button>
  
<div class="modal modal-fade" id="addKleidungsstueckModal" tabindex="-1" aria-labelledby="addKleidungsstueckModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-left">
                <form action="/">
                    <div class="mb-3">
                      <label for="inputName" class="form-label">Name</label>
                      <input type="text" class="form-control" id="inputName" aria-describedby="nameHilfe">
                      <div id="nameHilfe" class="form-text">Gib deinem Kleidungsstueck einen eigenen Namen</div>
                    </div>
                    <div class="mb-3">
                      <label for="inputGroesse" class="form-label">Größe</label>
                      <input type="text" class="form-control" id="inputGroesse" aria-describedby="groesseHilfe">
                      <div id="groesseHilfe" class="form-text">Du kannst alle moeglichen Groessen eingeben</div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Typ</label>
                      <select class="form-select">
                        <option selected>Wähle den Kleidungstyp</option>
                        {#for typ in TypList:typen}
                          <option value="1">{typ}</option>
                        {/for}
                      </select>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Farbe</label>
                      <select class="form-select">
                        <option selected>Wähle die Hauptfarbe</option>
                        {#for farbe in FarbList:farben}
                          <option value="1">{farbe}</option>
                        {/for}
                      </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary">Kleidungsstueck erstellen</button>
            </div>
        </div>
    </div>
</div>