<div class="modal modal-fade" id="kleidungsstueckInfoModal" tabindex="-1" aria-labelledby="kleidungsstueckInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoModalLabel">Neues Kleidungsstueck erstellen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-left">
                <div class="card-body">
                    <h5 class="card-title">Größe: </h5>
                    <p class="card-text" style="text-align: left; margin-left: 2%;">{kleidungsstueck.groesse}</p>
                    <h5 class="card-title">Farbe: </h5>
                    <p class="card-text" style="text-align: left; margin-left: 2%;">{kleidungsstueck.farbe}</p>
                    <h5 class="card-title">Kategorien: </h5>
                    <div class="list-group" style="margin-left: 2%; margin-right: 25%; margin-top: 1%;">
                        <ul class="list-group list-group-flush">
                            {#for kategorie in kleidungsstueck.kategorien}
                            <li class="list-group-item list-group-item-action">
                                {kategorie}
                            </li>
                        </ul>
                        {/}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>