<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addKleidungsstueckModal">
    Neues Kleidungsstueck erstellen
</button>
  
<div class="modal modal-fade" id="addKleidungsstueckModal" tabindex="-1" aria-labelledby="addKleidungsstueckModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Neues Kleidungsstueck erstellen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-left">
                {#include kleidungsstueckForm.html bearbeiten=false} {/include}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary">Kleidungsstueck erstellen</button>
            </div>
        </div>
    </div>
</div>