<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script type="text/javascript">
        function loescheItem(id, type) {
            if (confirm('Sicher das Sie das Objekt löschen möchten')) {
                if (type === 'kleidung') {
                    return fetch('http://localhost:8080/virtuellerkleiderschrank/v1/api/clothes/' + id, {
                        method: 'Delete',
                        headers: {
                            'Content-type': 'application/json'
                        }
                    });
                } else if (type === 'outfit') {
                    return fetch('http://localhost:8080/virtuellerkleiderschrank/v1/api/outfits/' + id, {
                        method: 'Delete',
                        headers: {
                            'Content-type': 'application/json'
                        }
                    });
                }

            }
        }
        function loescheAlleItems(type) {
            if (confirm('Sicher das Sie alle Objekte löschen möchten')) {
                if (type === 'kleidung') {
                    return fetch('http://localhost:8080/virtuellerkleiderschrank/v1/api/clothes/', {
                        method: 'Delete',
                        headers: {
                            'Content-type': 'application/json'
                        }
                    });
                } else if (type === 'outfit') {
                    return fetch('http://localhost:8080/virtuellerkleiderschrank/v1/api/outfits/', {
                        method: 'Delete',
                        headers: {
                            'Content-type': 'application/json'
                        }
                    });
                }

            }
        }
    </script>
    <title>{#insert title}Default Title{/}</title>
</head>

<body style=" background: lightgray;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Menü</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="/virtuellerkleiderschrank/v1/web/clothes">Kleidungsstücke</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/virtuellerkleiderschrank/v1/web/outfits">Outfits</a>
                    </li>
                </ul>
                <a role="button" class="btn btn-danger" style="margin-left: 85%;"
                    href="/virtuellerkleiderschrank/v1/logout">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 style="text-align:center; font-weight: bold;">{#insert title}Default Title{/}</h1>
        {#insert content}No content{/}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>