{#include main}
{#title}{/title}
{#content}
<div style="margin-top: 3%;">

	<div class="card">
		<div class="card-body">
			{#include Forms/outfitForm.html bearbeiten=true outfit}{/include}
			<button type="button" id="teileButton" class="btn btn-success">Outfit teilen</button>


			<h5 class="card-title">Kleidungsstuecke: </h5>
			<div class="table reposive" id=table>
				<table class="table table-bordered border-dark">
					<thead>
						<tr>
							<th scope="col-1">Name des Kleidungssuecks</th>
							<th scope="col-sm-1">Aktionen</th>
						</tr>
					</thead>
					<tbody>
						{#for kleidungsstueck in infos}
						<tr>
							<td><a href="/virtuellerkleiderschrank/v1/web/clothes/{kleidungsstueck.kleidungsId}"
									class="list-group-item list-group-item-action" aria-current="true">
									{kleidungsstueck.name}
								</a></td>
							<td>
								<button type="button" class="btn btn-danger" id="btn{kleidungsstueck.kleidungsId}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-trash3" viewBox="0 0 16 16">
										<path
											d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
									</svg>
								</button>
							</td>
						</tr>
						{/for}
					</tbody>
				</table>
			</div>
			<h5 class="card-title">Kategorien: </h5>
			<div class="list-group" style="margin-left: 2%; margin-right: 25%; margin-top: 1%;">
				<ul class="list-group list-group-flush">
					{#for kategorie in outfit.kategorien}
					<li class="list-group-item list-group-item-action">
						{kategorie}
					</li>
					{/for}
				</ul>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" type="text/javascript"></script>
		<script>
			$("#teileButton").click(function () {
				if (confirm("Sicher das Sie das Outfit teilen möchten?")) {
					let url = window.location.pathname;
					let data = { 'teilen': true };
					return fetch(window.location.pathname.toString().replace('/web', '/api'), {
						method: 'PUT',
						headers: {
							'Content-type': 'application/json'
						},
						body: JSON.stringify(data)
					});
				}
			});

			const table = document.getElementById('table');
			table.addEventListener('click', (event) => {
				if (event.target.nodeName === 'BUTTON') {
					let name = event.target.id;
					url = window.location.pathname.toString().replace('/web', '/api') + '/' + name.toString().replace('btn', '');
					if (confirm("Sicher das Sie das Kleidungsstück aus dem Outfit entfernen möchten?")) {
						return fetch(url, {
							method: 'DELETE',
							headers: {
								'Content-type': 'application/json'
							}
						});
					}
				}
			});
		</script>
		{/content}
		{/include}
